
<ng-template #dialog let-data let-ref="dialogRef">

  <nb-card>

    <nb-card-header>
      {{contrato.habilitado ? 'Desabilitar': 'Habilitar'}} Contrato
    </nb-card-header>

    <nb-card-body>

      <ng-container *ngIf="contrato.habilitado">
        Deseja desabilitar esse contrato?
        não será possivel gerar cobranças enquanto esse contrato estiver desabilitado
      </ng-container>

      <ng-container *ngIf="!contrato.habilitado">
        Deseja habilitar esse contrato?
        Será possivel gerar cobranças esse contrato
      </ng-container>

    </nb-card-body>


    <nb-card-footer>


      <div class="row">

        <div class="col-md-3 col-6 ">
          <button nbButton outline fullWidth (click)="ref.close()">Voltar</button>
        </div>

        <div class="offset-md-6 col-md-3 col-6">

          <button *ngIf="contrato.habilitado" nbButton outline fullWidth status="basic" (click)="changeContrato(); ref.close();">Desabilitar</button>
          <button *ngIf="!contrato.habilitado" nbButton outline fullWidth status="basic" (click)="changeContrato(); ref.close();">Habilitar</button>
        </div>

      </div>

    </nb-card-footer>

  </nb-card>

</ng-template>


<nb-card status="info">

  <nb-card-header>
    Contrato
  </nb-card-header>

  <nb-card-body>
    <div class="col-12 col-md-2 offset-md-10">

      <nb-select
        class="float-right"
        placeholder="Número de registros"
        [fullWidth]="true"
        [(selected)]="filtro.size"
        (selectedChange)="filtro.page = 0; filtro.size = $event; changeSize()"
        (ngModelChange)="filtro.page = 0; filtro.size = $event;">
        <nb-option [value]=1>1</nb-option>
        <nb-option [value]=3>3</nb-option>
        <nb-option [value]=5>5</nb-option>
        <nb-option [value]=10>10</nb-option>
        <nb-option [value]=25>25</nb-option>
      </nb-select>

    </div>
  </nb-card-body>

  <nb-card-body>
      <table class="table table-sm table-striped">

        <thead >
          <tr>
            <th scope="col" class="align-middle font-weight-bold"> Nome: </th>
            <th scope="col" class="align-middle font-weight-bold"> Matrícula: </th>
            <th scope="col" class="align-middle font-weight-bold"> Principal: </th>
            <th scope="col" class="align-middle font-weight-bold"> Valor: </th>

            <th scope="col" style="width: 8%;" colspan="3">
              <button nbButton outline fullWidth status="success" (click)=adicionar()>
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </th>

          </tr>
        </thead>

        <tbody *ngIf="table && !table?.empty">

          <tr *ngFor="let c of table.content; index as i;">
            <td class="align-middle">
              {{c?.cliente?.nome}}
            </td>

            <td class="align-middle">
              {{c?.matricula.logradouro.tipoLogradouro.nome}}
              {{c?.matricula.logradouro.nome}}
              {{c?.matricula.numero}}
              {{c?.matricula.letra}}
            </td>

            <td class="align-middle">
              <nb-checkbox
                class="align-center"
                [(ngModel)]=c.contratoPrincipal>
              </nb-checkbox>
            </td>

            <td class="align-middle">
              {{c.grupo.categoria.nome +' '+ c.grupo.nome}}
              ({{c?.valor | currency: 'BRL':'symbol'}})
            </td>

            <td class="align-middle" >
              <button nbButton outline fullWidth
                [status]="c.habilitado? 'info':'basic'"
                (click)="this.contrato = c; open(dialog);"  nbTooltip="Mudar visibilidade do contrato" nbTooltipStatus="primary" >
                <nb-icon *ngIf="!c.habilitado" icon="eye-off-2-outline"></nb-icon>
                <nb-icon *ngIf="c.habilitado" icon="eye-outline"></nb-icon>
              </button>
            </td>

            <td class="align-middle" >
              <button nbButton outline fullWidth status="warning" (click)=editar(c)>
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
            </td>

            <td class="align-middle" >
              <button nbButton outline fullWidth status="danger" (click)=deletar(c)>
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </td>

          </tr>

        </tbody>

        <tbody *ngIf="table?.empty">

          <tr>
            <td class="align-middle" colspan="5" >
              Nenhum registro encontrado
            </td>
          </tr>

        </tbody>


        <tfoot>
          <tr>
            <th scope="col" colspan="5"> </th>
          </tr>
        </tfoot>

      </table>
  </nb-card-body>

  <nb-card-footer>
    <div class="row" *ngIf="table && !table?.empty">
        <div class="col-12 col-md-6">
        <p class="text-secondary align-middle">
          Exibindo de {{ (table.pageable.pageNumber * table.pageable.pageSize)+1  }} A
          {{(table.pageable.pageNumber * table.pageable.pageSize) + table.numberOfElements }}
          de {{table.totalElements}} registro em {{table.totalPages}} paginas
        </p>
      </div>
    </div>
  </nb-card-footer>

  <nb-card-footer>
    <div class="row" *ngIf="table">

      <div class="col-md-3 col-6 ">
        <button nbButton outline fullWidth status="basic" (click)="anterior()" [disabled]=table.first>Anterior</button>
      </div>

      <div class="offset-md-6 col-md-3 col-6">
        <button nbButton outline fullWidth status="basic" (click)="avancar()" [disabled]=table.last>Proxima</button>
      </div>

    </div>
  </nb-card-footer>

</nb-card>
