<ngx-table [loading]=loading [title]="'Grupo'" [table]=table [filtro]=filtro (buscar)=load()>
  <table class="table table-sm table-striped">

    <thead >
      <tr>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("nome")'>
          Nome:

          <ng-container *ngIf="filtro.nome.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.nome.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.nome.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("tipoLogradouro")'>
          Tipo:

          <ng-container *ngIf="filtro.tipoLogradouro.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.tipoLogradouro.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.tipoLogradouro.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("logradouro")'>
          Logradouro:

          <ng-container *ngIf="filtro.logradouro.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.logradouro.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.logradouro.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("numero")'>
          Número:

          <ng-container *ngIf="filtro.numero.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.numero.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.numero.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("letra")'>
          Letra:

          <ng-container *ngIf="filtro.letra.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.letra.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.letra.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("categoria")'>
          Categoria:

          <ng-container *ngIf="filtro.categoria.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.categoria.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.categoria.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("grupo")'>
          Grupo:

          <ng-container *ngIf="filtro.grupo.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.grupo.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.grupo.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("principal")'>
          Principal:

          <ng-container *ngIf="filtro.principal.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.principal.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.principal.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("ativo")'>
          Ativo:

          <ng-container *ngIf="filtro.ativo.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.ativo.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.ativo.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" style="width: 8%;" colspan="3">
          <button nbButton outline fullWidth status="success" (click)=adicionar()>
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>

    <thead >
      <tr>
        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.nome.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.tipoLogradouro.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.logradouro.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [mask]="'0*'"
            [(ngModel)]=filtro.numero.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.letra.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.categoria.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.grupo.valor
            >
        </th>

        <th>
          <nb-select
            fullWidth
            [(selected)]="filtro.principal.valor" >
            <nb-option (click)="load()" value="sim">Sim</nb-option>
            <nb-option (click)="load()" value="nao">Não</nb-option>
            <nb-option (click)="load()" value="indeterminado">Todos</nb-option>
          </nb-select>
        </th>

        <th>
          <nb-select
            fullWidth
            [(selected)]="filtro.ativo.valor" >
            <nb-option (click)="load()" value="sim">Sim</nb-option>
            <nb-option (click)="load()" value="nao">Não</nb-option>
            <nb-option (click)="load()" value="indeterminado">Todos</nb-option>
          </nb-select>
        </th>

        <th colspan="3">
          <button nbButton outline fullWidth status="info" (click)="load()">
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>


    <tbody *ngIf="table && !table?.empty">

      <tr *ngFor="let c of table.content; index as i;">
        <td class="align-middle">
          {{c?.cliente?.nome}}
        </td>

        <td class="align-middle">
          {{c?.matricula.logradouro.tipoLogradouro.nome}}
        </td>

        <td class="align-middle">
          {{c?.matricula.logradouro.nome}}
        </td>

        <td class="align-middle">
          {{c?.matricula.numero}}
        </td>

        <td class="align-middle">
          {{c?.matricula.letra}}
        </td>

        <td class="align-middle">
          {{c.grupo.categoria.nome}}
        </td>

        <td class="align-middle">
          {{c.grupo.nome}}
        </td>

        <td class="align-middle">
          <nb-checkbox
            class="align-center"
            [disabled]=true
            [(ngModel)]=c.contratoPrincipal>
          </nb-checkbox>
        </td>

        <td class="align-middle">
          <nb-checkbox
            class="align-center"
            [disabled]=true
            [(ngModel)]=c.ativo>
          </nb-checkbox>
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth [disabled]=!c.ativo
            [status]="c.habilitado? 'info':'basic'"
            (click)="this.contrato = c; open(dialog);" nbTooltip="Cortar/Religar" nbTooltipStatus="primary" >
            <nb-icon *ngIf="!c.habilitado" icon="droplet-off-outline"></nb-icon>
            <nb-icon *ngIf="c.habilitado" icon="droplet-outline"></nb-icon>
          </button>
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="primary" (click)=editar(c) nbTooltip="Detalhar" nbTooltipStatus="primary">
            <nb-icon icon="book-outline"></nb-icon>
          </button>
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="danger" (click)=deletar(c) [disabled]=!c.ativo>
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>

      </tr>

    </tbody>

    <tbody *ngIf="table?.empty">

      <tr>
        <td class="align-middle" colspan="11" >
          Nenhum registro encontrado
        </td>
      </tr>

    </tbody>


    <tfoot>
      <tr>
        <th scope="col" colspan="11"> </th>
      </tr>
    </tfoot>

  </table>
</ngx-table>
