<ngx-table [loading]=loading [title]="'Grupo'" [table]=table [filtro]=filtro (buscar)=load()>
  <table class="table table-sm table-striped">

    <thead>

      <tr>
        <th scope="col" class="align-middle font-weight-bold" (click)='order("matricula")'>
          Matrícula:

          <ng-container *ngIf="filtro.matricula.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.matricula.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.matricula.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("referencia")'>
          Referência:

          <ng-container *ngIf="filtro.referencia.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.referencia.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.referencia.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("atual")'>
          Atual:

          <ng-container *ngIf="filtro.atual.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.atual.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.atual.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("anterior")'>
          Anterior:

          <ng-container *ngIf="filtro.anterior.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.anterior.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.anterior.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold">
          Consumo:

        </th>

        <th scope="col" class="align-middle font-weight-bold">
          Valor:

        </th>

        <th scope="col"  colspan="2">
          <button nbButton outline fullWidth status="success" (click)=selecionar()>
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>

    <thead >
      <tr>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.matricula.valor>
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.referencia.valor>
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.atual.valor>
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.anterior.valor>
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.anterior.valor>
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.anterior.valor>
        </th>


        <th colspan="2">
          <button nbButton outline fullWidth status="info" (click)="load()">
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>

    <tbody *ngIf="table && !table?.empty">
      <tr *ngFor="let hidrometro of table.content; index as i">

        <td class="align-middle" >
          {{hidrometro.matricula}}
        </td>

        <td class="align-middle" >
          {{hidrometro.referencia | referenciaPipe}}
        </td>

        <td class="align-middle">
          {{hidrometro.anterior | number}}
        </td>

        <td class="align-middle">
          {{hidrometro.atual | number}}
        </td>

        <td class="align-middle" >
          {{(hidrometro.atual - hidrometro.anterior ) | number}}
        </td>

        <td class="align-middle">
          {{ (hidrometro.atual - hidrometro.anterior) * hidrometro.valorLitroAgua  | currency: 'BRL':'symbol'}}
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="warning" (click)=editar(data)>
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="danger" (click)=deletar(data)>
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>
      </tr>

    </tbody>

    <tbody *ngIf="table?.empty">

      <tr>
        <td class="align-middle" colspan="8" >
          Nenhum registro encontrado
        </td>
      </tr>

    </tbody>


    <tfoot>
      <tr>
        <th scope="col" colspan="6"> </th>
      </tr>
    </tfoot>

  </table>
</ngx-table>
