<div class="row pb-1 pt-1">

  <div class="col-12" >
    <hr/>
  </div>

  <div class="col-2">
    logo
  </div>

  <div class="col-10">
    CNPJ - 13.228.119/0001-68 <br/>
    Publicaçao do estatuto no Diário Oficial de 22-06-1983 <br/>
    Reconhecido como Órgão de utilidade publica Municipal - conf.lei N 7 de 27-10-1983 <br/>
    Reconhecido como Órgão de utilidade publica Estadual - conf.lei N 7049 de 16-04-1997 <br/>
    Rua Morro do Chapéu, S/N - Tel 0(xx74) 3674-2165  -Lages do Batata - Jacobina Ba <br/>
    Email : Acallages@hotmail.com
  </div>

</div>

<div class="row pb-1 pt-1">
  <div class="col-12 text-center font-weight-bold">
    <h4> <b><u> ACAL - Associação Comunitária e Assistêncial de Lages </u></b></h4>
    <h4> <b><u> ECONOMIZAR ÁGUA É DEVER DE TODO SER HUMANO </u></b></h4>
  </div>
</div>
