  <nb-card status="danger" [nbSpinner]="loading">

    <nb-card-header>
      Logradouro
    </nb-card-header>

    <nb-card-body>
      <div class="row" *ngIf="data">

        <div class="col-md-3 col-12">
          <div class="form-group">
            <label class="label">Tipo Logradouro</label>
            <input
              nbInput
              fullWidth
              type="text"
              status="basic"
              placeholder="Tipo Logradouro"
              disabled
              [(ngModel)]="data.tipoLogradouro.nome"
              >

          </div>
        </div>

        <div class="col-md-9 col-12">
          <div class="form-group">

            <label class="label">Nome</label>
            <input
              nbInput
              fullWidth
              type="text"
              status="basic"
              placeholder="Nome"
              disabled
              [(ngModel)]="data.nome"
            >

          </div>
        </div>

      </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="row">

        <div class="col-md-2 col-6">
          <button nbButton outline fullWidth status="basic" (click)="voltar()">voltar</button>
        </div>

        <div class="col-md-2 offset-md-8 col-6">
          <button nbButton outline fullWidth status="danger" type="button" (click)="onSubmit()">Deletar</button>
        </div>

      </div>
    </nb-card-footer>

  </nb-card>

