<ng-template #templateRef>

  <nb-card class="margin-0">
    <table class="table table-sm table-striped">
      <tbody >

        <tr>
          <td>Criado em:</td>
          <td>{{data.createdDate | dateTimePipe}}</td>
        </tr>

        <tr>
          <td>Última Atualização</td>
          <td>{{data.lastModifiedDate | dateTimePipe }} </td>
        </tr>

      </tbody>
    </table>
  </nb-card>

</ng-template>

<ngx-table [loading]=loading [title]="'Logradouros'" [table]=table [filtro]=filtro (buscar)=load()>
  <table class="table table-sm table-striped">

    <thead>
      <tr>
        <th scope="col" class="align-middle font-weight-bold" (click)='order("tipoLogradouro")'>
          Tipo:

          <ng-container *ngIf="filtro.tipoLogradouro.asc !== null">
            <nb-icon class="float-right" icon="arrow-downward-outline" *ngIf="filtro.tipoLogradouro.asc"></nb-icon>
            <nb-icon class="float-right" icon="arrow-upward-outline"   *ngIf="!filtro.tipoLogradouro.asc"></nb-icon>
          </ng-container>


        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("nome")'>
          Nome:

          <ng-container *ngIf="filtro.nome.asc !== null">
            <nb-icon class="float-right" icon="arrow-downward-outline" *ngIf="filtro.nome.asc"></nb-icon>
            <nb-icon class="float-right" icon="arrow-upward-outline"   *ngIf="!filtro.nome.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" style="width: 8%;" colspan="2">
          <button nbButton outline fullWidth status="success" (click)=adicionar()>
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>

    <thead >
      <tr>
        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.tipoLogradouro.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.nome.valor
            >
        </th>

        <th colspan="2">
          <button nbButton outline fullWidth status="info" (click)="load()">
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>




    <tbody *ngIf="table && !table?.empty">

      <tr *ngFor="let data of table.content; index as i;"
        nbPopoverPlacement="top"
        [nbPopover]="templateRef"
        nbPopoverTrigger="click" (click)=selecionar(data);
      >
        <td class="align-middle" >{{data?.tipoLogradouro?.nome}}</td>
        <td class="align-middle" >{{data?.nome}} </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="warning" (click)=editar(data)>
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="danger" (click)=deletar(data)>
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>

      </tr>

    </tbody>

    <tfoot>

      <tr>
        <td colspan=4 >
        </td>
      </tr>

    </tfoot>

  </table>
</ngx-table>


