  <nb-card status="danger">

    <nb-card-header>
      Matrícula
    </nb-card-header>

    <nb-card-body>
      <div class="row" *ngIf="data">

          <div class="col-md-2 col-12">
            <div class="form-group">
              <small class="form-text text-muted">* Tipo</small>

              <input
                nbInput
                disabled
                fullWidth
                type="text"
                status="basic"
                [(ngModel)]="data.logradouro.tipoLogradouro.nome"
                >

            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="form-group">
              <small class="form-text text-muted">* Logradouro</small>

              <input
                nbInput
                disabled
                fullWidth
                type="text"
                status="basic"
                [(ngModel)]="data.logradouro.nome"
                >

            </div>
          </div>

          <div class="col-md-2 col-6">
            <div class="form-group">
              <small class="form-text text-muted">* Número</small>
              <input
                nbInput
                fullWidth
                disabled
                type="text"
                status="basic"
                [(ngModel)]="data.numero"
                >

            </div>
          </div>

          <div class="col-md-2 col-6">
            <div class="form-group">
              <small class="form-text text-muted">* Letra</small>
              <input
                nbInput
                disabled
                fullWidth
                type="text"
                status="basic"
                [(ngModel)]="data.letra"
                >
            </div>
          </div>

        </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="row">

        <div class="col-md-2 col-6">
          <button nbButton outline fullWidth status="basic" (click)="voltar()">voltar</button>
        </div>

        <div class="col-md-2 offset-md-8 col-6">
          <button nbButton outline fullWidth status="danger" type="button" (click)="onSubmit()">Deletar</button>
        </div>

      </div>
    </nb-card-footer>

  </nb-card>

