<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate *ngIf="load">
  <nb-card>

    <nb-card-header>
      Perfil
    </nb-card-header>

    <nb-card-body>

      <div class="row">

        <div class="col-md-6 col-12">
          <div class="form-group">
            <label class="label">* Foto:</label>


            <div>
              <img [src]="imagemPath" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>

          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="row">


            <div class="col-12">
              <div class="form-group">
                <label class="label">* Login:</label>

                <input
                  nbInput
                  fullWidth
                  type="text"
                  class="form-control"
                  placeholder="Login"
                  [formControl]="email"
                  [status]="getStatus('email')"
                  [ngClass]="{'is-valid': (email.valid && submited) , 'is-invalid' : (email.invalid && submited)  }"
                >

              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="label">* Nome:</label>

                <input
                  nbInput
                  fullWidth
                  type="text"
                  class="form-control"
                  placeholder="Nome"
                  [formControl]="name"
                  [status]="getStatus('name')"
                  [ngClass]="{'is-valid': (name.valid && submited) , 'is-invalid' : (name.invalid && submited)  }"
                >

              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="label">* Cargo:</label>

                <input
                  nbInput
                  fullWidth
                  type="text"
                  class="form-control"
                  placeholder="Cargo"
                  [formControl]="title"
                  [status]="getStatus('title')"
                  [ngClass]="{'is-valid': (title.valid && submited) , 'is-invalid' : (title.invalid && submited)  }"
                >

              </div>
            </div>



          </div>
        </div>




      </div>


    </nb-card-body>

    <nb-card-footer>
    </nb-card-footer>

  </nb-card>
</form>
