<nb-card>

  <nb-card-header>
    Perfil
  </nb-card-header>

  <nb-card-body>
    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label class="label">Login:</label>

          <input
            nbInput
            fullWidth
            disabled
            type="text"
            class="form-control"
            placeholder="Login"
            [(ngModel)]=data.name
          >

        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="label">Nome:</label>

          <input
            nbInput
            fullWidth
            disabled
            type="text"
            class="form-control"
            placeholder="Login"
            [(ngModel)]=data.name
          >

        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="label">Cargo:</label>

          <input
            nbInput
            fullWidth
            disabled
            type="text"
            class="form-control"
            placeholder="Login"
            [(ngModel)]=data.title
          >

        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="label">Autorizações:</label>

          <nb-list>
            <nb-list-item *ngFor="let role of data.role">
              {{ role.name.replace('ROLE_','') }}
            </nb-list-item>
          </nb-list>

        </div>
      </div>

    </div>
  </nb-card-body>

</nb-card>
