<label class="label">{{title}}</label>

<div *ngIf="!matricula">

  <input
    nbInput
    fullWidth
    type="text"
    (focus)='onFocus = true;'
    (blur)='onFocus = false;'
    (input)="atualizar()"
    [placeholder]='title'
    [status]="getStatus()"
    [(ngModel)]=textSeach
    >

  <ng-container *ngIf="(textSeach?.length >= 3) && !matricula">

    <nb-list *ngFor="let m of matriculas">

      <nb-list-item class="text-disabled bold">
        {{m.title}}
      </nb-list-item>

      <nb-list-item *ngFor="let value of m.values" (click)="selecionar(value);">
        {{value.logradouro.tipoLogradouro.nome}}
        {{value.logradouro.nome}}
        {{value.numero}}
        {{value.letra}}
      </nb-list-item>

    </nb-list>

    <nb-list *ngIf="!matriculas">
      <nb-list-item>
        Nenhum usúario atende aos critérios
      </nb-list-item>
    </nb-list>

  </ng-container>

  <div *ngIf="onFocus && (textSeach?.length<3) ">
    <span class="caption-2 text-hint">
      Digite mais {{ 3 - textSeach?.length}} caracteres
    </span>
  </div>

</div>



<div *ngIf="matricula">

  <nb-form-field>

    <input
      nbInput
      fullWidth
      type="text"
      [placeholder]='title'
      [status]="getStatus()"
      [(ngModel)]=textOutput
      >

      <button nbSuffix nbButton ghost (click)="cliente = null; textSeach = ''; selecionar(null)" type="button">
        <nb-icon
          pack="eva"
          icon="trash-2-outline">
        </nb-icon>

    </button>

  </nb-form-field>

</div>


