<nb-card status="info">

  <nb-card-header>
    Boletos
  </nb-card-header>

  <nb-card-body>
    <div class="col-12 col-md-2 offset-md-10">

      <nb-select
        class="float-right"
        placeholder="Número de registros"
        [fullWidth]="true"
        [(selected)]="filtro.size"
        (selectedChange)="filtro.page = 0; filtro.size = $event; changeSize()"
        (ngModelChange)="filtro.page = 0; filtro.size = $event;">
        <nb-option *ngFor="let pagina of paginas" [value]=pagina.value>  {{pagina.value}}</nb-option>
      </nb-select>

    </div>
  </nb-card-body>

  <nb-card-body>
    <table class="table table-sm table-striped">

      <thead >
        <tr>
          <th scope="col" class="align-middle font-weight-bold"> Número: </th>
          <th scope="col" class="align-middle font-weight-bold"> Valor: </th>
          <th scope="col" class="align-middle font-weight-bold"> Refêrencia: </th>
          <th scope="col" class="align-middle font-weight-bold"> Vencimento: </th>
          <th scope="col" class="align-middle font-weight-bold"> Status: </th>

          <th scope="col" style="width: 8%;" colspan="3">
            Ações
          </th>
        </tr>
      </thead>

      <tbody *ngIf="table && !table?.empty">

        <tr *ngFor="let boleto of table.content; index as i;">
          <td class="align-middle"> {{ boleto.numero }} </td>
          <td class="align-middle"> {{ getTotal(boleto) | currency:'BRL':'symbol'}} </td>
          <td class="align-middle"> {{ boleto.referencia | referenciaPipe }} </td>
          <td class="align-middle"> {{ boleto.vencimento | datePipe }} </td>
          <td class="align-middle"> {{ boleto.status }} </td>

          <td class="align-middle" >
            <button nbButton outline fullWidth status="warning" (click)=editar(boleto)>
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle" >
            <button nbButton outline fullWidth status="info" (click)=visualizar(boleto)>
              <nb-icon icon="search-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle" >
            <button nbButton outline fullWidth status="danger" (click)=deletar(boleto)>
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>

      </tbody>

      <tbody *ngIf="table?.empty">

        <tr>
          <td class="align-middle" colspan="7" >
            Nenhum registro encontrado
          </td>
        </tr>

      </tbody>


      <tfoot>
        <tr>
          <th scope="col" colspan="7"> </th>
        </tr>
      </tfoot>

    </table>
  </nb-card-body>

  <nb-card-footer>
    <div class="row" *ngIf="table">
        <div class="col-12 col-md-6">
        <p class="text-secondary align-middle">
          Exibindo de {{ (table.pageable.pageNumber * table.pageable.pageSize)+1  }} A
          {{(table.pageable.pageNumber * table.pageable.pageSize) + table.numberOfElements }}
          de {{table.totalElements}} registro em {{table.totalPages}} paginas
        </p>
      </div>
    </div>
  </nb-card-footer>

  <nb-card-footer>
    <div class="row" *ngIf="table">

      <div class="col-md-3 col-6 ">
        <button nbButton outline fullWidth status="basic" (click)="anterior()" [disabled]=table.first>Anterior</button>
      </div>

      <div class="offset-md-6 col-md-3 col-6">
        <button nbButton outline fullWidth status="basic" (click)="avancar()" [disabled]=table.last>Proxima</button>
      </div>

    </div>
  </nb-card-footer>

</nb-card>
