<div class="row">
  <div class="col-md-4" >
    <hr/>
  </div>

  <div class="col-md-4" >
    <hr/>
  </div>

  <div class="col-md-4" >
    <hr/>
  </div>

</div>

<div class="row">

  <div class="col-md-4" >
    <div class="table-responsive border-success">
      <table class="table table-sm table-borderless">

        <thead>
          <th colspan="4" class="text-center p-2 border-bottom" >
            <b> Número de Associado: </b>  {{boleto.contrato.cliente.socio}}
          </th>
        </thead>

        <tbody>

          <tr>
            <td> <b> Sócio: </b> </td>
            <td class="float-right"> {{boleto.contrato.cliente.nome}} </td>
          </tr>

          <tr>
            <td> <b> Endereço: </b> </td>
            <td class="float-right"> {{boleto.contrato.matricula.logradouro.tipoLogradouro.nome}}
              {{boleto.contrato.matricula.logradouro.nome}}
              {{boleto.contrato.matricula.numero}}
              {{boleto.contrato.matricula.letra}}

            </td>
          </tr>

          <tr>
            <td> <b>Complementar: </b>  </td>
            <td class="float-right">  </td>
          </tr>

          <tr>
            <td> <b>Complementar: </b>  </td>
            <td>  </td>
          </tr>

          <tr>
            <td> <b>Complementar: </b>  </td>
            <td>  </td>
          </tr>

          <tr>
            <td> <b> Categoria: </b> </td>
            <td class="float-right"> {{boleto.contrato.grupo.categoria.nome}}
              {{boleto.contrato.grupo.nome}} </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4" >
    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <thead>
          <th class="text-center p-2 border-bottom" >
            Boleto Número
          </th>
        </thead>
        <tbody>

          escreva aqui
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4" >

    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <thead>
          <th colspan="4" class="text-center p-2 border-bottom" >
            <b> Conta Referente : </b>  Outubro, 2020
          </th>
        </thead>

        <tbody>

          <tr>
            <td> <b> Data de Emissão: </b> </td>
            <td class="float-right"> 25 de Novembro de 2020 </td>
          </tr>

          <tr>
            <td> <b> Vencimento: </b> </td>
            <td class="float-right"> 10 de Novembro de 2020 </td>
          </tr>

          <tr>
            <td> <b> Valor: </b> </td>
            <td class="float-right"> R$ 25,85 </td>
          </tr>

          <tr>
            <td> <b> Total: </b> </td>
            <td class="float-right"> R$ 25,85 </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4" >
    <hr/>
  </div>

  <div class="col-md-4" >
    <hr/>
  </div>

  <div class="col-md-4" >
    <hr/>
  </div>

</div>


<!--


<div class="row">

  <div class="col-md-4" >



  </div>

  <div class="col-md-4 border border-danger">



  </div>

  <div class="col-md-4 border border-success">
  </div>

</div>



    <div class="col-md-4">

      <div class="text-center rounded" >
        <b> Boleto nº: </b> {{boleto.numero | numDocPipe }}
      </div>

    </div>
  -->
