<hr/>

<div class="row" *ngIf="boleto">

  <!-- Sócio -->
  <div class="col-md-4 col-sm-6 col-12" >
    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <thead class="text-center border">
          <tr>
            <th colspan="2">Sócio</th>
          </tr>
        </thead>

        <tbody class="text-rigth">

          <tr>
            <td> <b> Número: </b> </td>
            <td class="float-right">
              {{boleto.contrato.cliente.nome}}
            </td>
          </tr>

          <tr>
            <td> <b> Matrícula: </b> </td>
            <td class="float-right">
              {{boleto.contrato.matricula | matricula}}
            </td>
          </tr>

          <tr>
            <td> <b> Categoria: </b> </td>
            <td class="float-right">
              {{boleto.contrato.grupo.categoria.nome + ' ' + boleto.contrato.grupo.nome}}
             </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- Sócio -->

  <!-- boleto -->
  <div class="col-md-4 col-sm-6 col-12" >
    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <thead>
          <th class="text-center border" >
            {{boleto.numero }}
          </th>
        </thead>

        <tbody class="text-center border">

        </tbody>

      </table>
    </div>
  </div>
  <!-- boleto -->

  <!-- matricula -->
  <div class="col-md-4 col-sm-6 col-12" >

    <div class="table-responsive">
      <table class="table table-sm table-borderless">

        <thead class="text-center border">
          <th colspan="4">
            <b> Conta Referente : </b> {{boleto.referencia | referenciaPipe }}
          </th>
        </thead>

        <tbody class="text-left">

          <tr>
            <td> <b> Data de Emissão: </b> </td>
            <td class="float-right">{{boleto.createdDate}} </td>
          </tr>

          <tr>
            <td> <b> Vencimento: </b> </td>
            <td class="float-right"> {{boleto.vencimento | datePipe}} </td>
          </tr>

          <tr *ngFor="let debito of boleto.debitos; ">
            <td> <b> {{debito.nome}}</b> </td>
            <td class="float-right"> {{debito.valor | currency:'BRL':'symbol'}} </td>
          </tr>

          <tr>
            <td> <b> Total: </b> </td>
            <td class="float-right"> R$ 25,85 </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- matricula -->
</div>

<hr/>

