<nb-card >
  <nb-card-body>

    <div class="row">
      <div class="col-md-6 col-12">
        <div class="form-group">

          <label class="label">* Número:</label>
          <input
            nbInput
            fullWidth
            type="text"
            mask="0000.0*"
            class="form-control"
            placeholder="Número"
            (keyup.enter)="buscar()"
            [(ngModel)]=numero
            [disabled]='boleto'
          >
        </div>
      </div>

      <div class="col-md-4 offset-md-2 col-12">
        <label class="label">Ação:</label>
        <button [disabled]='!numero || boleto' nbButton outline fullWidth status="success" (click)="buscar();" type="button">Buscar</button>
      </div>

    </div>

  </nb-card-body>
</nb-card>

<ngx-boleto-visualizar [boleto]=boleto *ngIf="boleto">

</ngx-boleto-visualizar>

<nb-card *ngIf="boleto">
  <nb-card-body>
    <div class="row">

      <div class="col-md-4 col-6">
        <button nbButton outline fullWidth status="primary" (click)="this.boleto = null; this.numero = null" type="button">Voltar</button>
      </div>

      <div class="col-md-4 offset-md-4 col-6">
        <button nbButton outline fullWidth status="success" (click)="buscar();" type="button">Confirmar Pagamento</button>
      </div>

    </div>
  </nb-card-body>
</nb-card>
