<nb-card >

  <nb-card-body>

    <div class="row">
      <div class="col-md-9 col-12">
        <div class="form-group">

          <label class="label">* Número do boleto: </label>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            placeholder="Número do boleto"
          >

        </div>
      </div>

      <div class="col-md-3 col-12">
        <label class="label">Ação</label>
        <button nbButton outline fullWidth status="basic" type="button">Buscar</button>
      </div>
    </div>

  </nb-card-body>

</nb-card>

<nb-card accent="info">

  <nb-card-body>
    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label class="label">Número do boleto: </label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="2020.01.01/03.12312312"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="label">Cliente: </label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="Alexandre Bezerra de Queiroz"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label class="label">Endereço de usufruto </label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="Avenida Fernando Daltro 301A"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label class="label">Endereço de cobrança</label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="Rua Morro do chapeu 30B"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>


      <div class="col-md-6 col-12">
        <div class="form-group">
          <label class="label">Grupo </label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="Sócio Efetivo/Restaurante"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label class="label">Valor</label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="R$ 50,00"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="form-group">
          <label class="label">Data de Vencimento</label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="10/10/2020"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="form-group">
          <label class="label">Data de Emissão</label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="10/10/2020"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="form-group">
          <label class="label">Referencia</label>
          <input
            nbInput
            fullWidth
            disabled
            type="text"
            value="10/2020"
            class="form-control"
            placeholder="Número do boleto">
        </div>
      </div>



    </div>
  </nb-card-body>

</nb-card>


<nb-card >
  <nb-card-body>

    <div class="row">

      <div class="col-md-2 col-6">
        <button nbButton outline fullWidth status="basic" type="reset">Voltar</button>
      </div>

      <div class="col-md-2 offset-md-8 col-6">
        <button nbButton outline fullWidth status="success" type="submit">Confirmar</button>
      </div>

    </div>

  </nb-card-body>
</nb-card>
