<div (mouseleave)='onFocus = false; textSeach=""' style="z-index:100; position: relative;">

  <label class="label">{{title}}</label>

  <div *ngIf="matricula">

    <nb-form-field>

      <input
        disabled
        nbInput
        fullWidth
        type="text"
        [status]="getStatus()"
        [(ngModel)]=textOutput
        >

      <button nbSuffix nbButton ghost (click)="matricula = null; textSeach = ''; selecionar(null)" type="button">
        <nb-icon
          pack="eva"
          icon="trash-2-outline" >
        </nb-icon>
      </button>

    </nb-form-field>

  </div>

  <div *ngIf="!matricula">

    <input
      nbInput
      fullWidth
      type="text"
      (focus)='onFocus = true;'
      (blur)='onFocus = false;'
      (input)="atualizar()"
      [placeholder]='title'
      [status]="getStatus()"
      [(ngModel)]=textSeach
      >

      <ng-container *ngIf="(textSeach?.length >= 3)">

        <ng-container *ngFor="let select of matriculas">

          <nb-list *ngIf="select">

            <nb-list-item class="text-secondary">
              {{select.title}}
            </nb-list-item>

            <nb-list-item *ngFor="let m of select.values"
             (click)="this.matricula = m; selecionar(m)">
              {{m | matricula}}
            </nb-list-item>

          </nb-list>

        </ng-container>

        <nb-list *ngIf="!matriculas?.length">
          <nb-list-item
            style="background-color: white; z-index: -1; position: absolute; width: 100%;">
            Nenhuma matrícula atende aos critérios
          </nb-list-item>
        </nb-list>

      </ng-container>
  </div>
</div>
