<nb-card status="success">

  <nb-card-header>

    <div class="float-left">
      Registro
    </div>

    <div class="float-right">
      {{referencia | referenciaPipe}}
    </div>

  </nb-card-header>

  <nb-card-body>
    <ng-container *ngIf="valorAgua">
      valor da água para mil litros {{valorAgua?.valor | number : '1.2-4' :'pt-BR' }}
    </ng-container>

    <div class="table-responsive">
      <table class="table table-sm table-striped">

        <thead >
          <tr>
            <th scope="col" class="align-middle font-weight-bold"> Matrícula: </th>
            <th scope="col" class="align-middle font-weight-bold"> Anterior: </th>
            <th scope="col" class="align-middle font-weight-bold"> Atual: </th>
            <th scope="col" class="align-middle font-weight-bold"> Consumo: </th>
            <th scope="col" class="align-middle font-weight-bold"> Valor: </th>
          </tr>
        </thead>

        <tbody *ngIf="hidrometros">

          <tr *ngFor="let hidrometro of hidrometros; index as i;">



            <td class="align-middle" >
              {{hidrometro.matricula | matricula}}
            </td>

            <td class="align-middle" >
              <input
                nbInput
                fullWidth
                type="text"
                mask="separator.0"
                thousandSeparator="."
                [status]='hidrometro.valido ? "basic" :"danger" '
                [(ngModel)]=hidrometro.hidrometro.anterior
                placeholder="Anterior"
              >
            </td>

            <td class="align-middle" >
              <input
                nbInput
                fullWidth
                type="text"
                mask="separator.0"
                thousandSeparator="."
                [status]='hidrometro.valido ? "basic" :"danger" '
                [(ngModel)]=hidrometro.hidrometro.atual
                placeholder="Atual"
              >
            </td>


            <td class="align-middle" >
              {{hidrometro.hidrometro.atual - hidrometro.hidrometro.anterior | number : '1.0' :'pt-BR'}}
            </td>

            <td class="align-middle" >
              {{(hidrometro.hidrometro.atual - hidrometro.hidrometro.anterior) * valorAgua.valor/1000  | currency: 'BRL':'symbol'}}
            </td>

          </tr>

        </tbody>

        <tfoot >
          <tr>
            <th scope="col" colspan="5"> </th>
          </tr>
        </tfoot>

      </table>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">

      <div class="col-md-2 col-6">
        <button nbButton outline fullWidth status="basic" type="button" (click)=voltar() >voltar</button>
      </div>

      <div class="col-md-2 offset-md-8 col-6">
        <button nbButton outline fullWidth status="success" type="submit" (click)=salvar()>Salvar</button>
      </div>

    </div>
  </nb-card-footer>


</nb-card>
