<nb-card status="primary">

  <nb-card-header>
    Historico Contrato
  </nb-card-header>

  <nb-card-body>
    <table class="table table-sm table-striped">

      <thead >
        <tr>
          <th scope="col" class="align-middle font-weight-bold"> Categoria: </th>
          <th scope="col" class="align-middle font-weight-bold"> Nome: </th>
          <th scope="col" class="align-middle font-weight-bold"> Valor: </th>
          <th scope="col" class="align-middle font-weight-bold"> Valor Sócio: </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let corte of data.corte">
          <td class="align-middle"> {{corte?.data | dateTimePipe}} </td>
          <td class="align-middle"> {{corte?.usuario}} </td>
          <td class="align-middle"> {{corte?.ligacao ? 'Religação':'Ligação'}} </td>
        </tr>

      </tbody>

    </table>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">

      <div class="col-md-3 col-12">
        <button nbButton outline fullWidth status="basic" type="reset" (click)="voltar()">voltar</button>
      </div>
    </div>
  </nb-card-footer>

</nb-card>

