<nb-card status="primary">

  <nb-card-header>
    Cortes/Religações
  </nb-card-header>

  <nb-card-body>
    <table class="table table-sm table-striped">

      <thead >
        <tr>
          <th scope="col" class="align-middle font-weight-bold"> #: </th>
          <th scope="col" class="align-middle font-weight-bold"> Data: </th>
          <th scope="col" class="align-middle font-weight-bold"> Responsável: </th>
          <th scope="col" class="align-middle font-weight-bold"> Status </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let corte of data.corte; index as i;">
          <td class="align-middle"> {{i}} </td>
          <td class="align-middle"> {{corte?.data | dateTimePipe}} </td>
          <td class="align-middle"> {{corte?.usuario }} </td>
          <td class="align-middle"> {{corte?.ligacao ? 'Religação':'Ligação'}} </td>
        </tr>

      </tbody>

    </table>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">

      <div class="col-md-3 offset-md-9 col-12">
        <button nbButton outline fullWidth status="basic" type="reset" (click)="voltar()">voltar</button>
      </div>
    </div>
  </nb-card-footer>

</nb-card>

