<nb-card status="info">

  <nb-card-header>
    Fluxo
  </nb-card-header>

  <nb-card-body>
    <table class="table table-sm table-striped">

      <thead >
        <tr>
          <th scope="col" class="align-middle font-weight-bold"> # </th>
          <th scope="col" class="align-middle font-weight-bold"> Descrição: </th>
          <th scope="col" class="align-middle font-weight-bold"> A receber: </th>
          <th scope="col" class="align-middle font-weight-bold"> Recebido: </th>
          <th scope="col" class="align-middle font-weight-bold"> Saldo </th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td class="align-middle"> (+) </td>
          <td class="align-middle"> Boleto de Cobrança </td>
          <td class="align-middle"> R$ 50,00 </td>
          <td class="align-middle"> </td>
          <td class="align-middle"> R$ 50,00 </td>
        </tr>

        <tr>
          <td class="align-middle"> (+) </td>
          <td class="align-middle"> Boleto de Cobrança </td>
          <td class="align-middle"> </td>
          <td class="align-middle"> R$ 50,00 </td>
          <td class="align-middle"> R$ 50,00 </td>
        </tr>

        <tr>
          <td class="align-middle"> (+) </td>
          <td class="align-middle"> Boleto de Cobrança </td>
          <td class="align-middle"> </td>
          <td class="align-middle"> R$ 50,00 </td>
          <td class="align-middle"> R$ 100,00 </td>
        </tr>

      </tbody>

      <tfoot>
        <tr>
          <th scope="col" colspan="4"> </th>
        </tr>
      </tfoot>

    </table>
  </nb-card-body>


  <nb-card-footer>
    <div class="row">

      <div class="col-md-3 col-6 ">
      </div>

      <div class="offset-md-6 col-md-3 col-6">
      </div>

    </div>
  </nb-card-footer>

</nb-card>
