<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">

  <nb-card status="success">

    <nb-card-header>
      Cliente
    </nb-card-header>

    <nb-card-body>

      <div class="row">
        <div class="col-md-8 col-12">
          <div class="form-group">

            <label class="label">* Nome:</label>
            <input
              nbInput
              fullWidth
              type="text"
              placeholder="Nome"
              [formControl]="nome"
              [status]="getStatus('nome')"
              [ngClass]="{'is-valid': (nome.valid && submited) , 'is-invalid' : (nome.invalid && submited)  }"
            >

            <div class="valid-feedback" >
              Válido
            </div>

            <div class="invalid-feedback" >
              Inválido
            </div>

          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="form-group">
            <label class="label">* {{isPessoaFisica? "C.P.F":"C.N.P.J"}}: </label>

            <nb-form-field>

              <button button nbSuffix nbButton ghost (click)="changeTipoPessoa()" type="button">
                <nb-icon [icon]="isPessoaFisica ? 'person-outline' : 'home-outline'" pack="eva">
                </nb-icon>
              </button>

              <input
                nbInput
                fullWidth
                type="text"
                class="form-control"
                [placeholder]='isPessoaFisica? "C.P.F":"C.N.P.J"'
                [mask]="isPessoaFisica ?  '000.000.000-00': '00.000.000/0000-00' "
                [formControl]="documento"
                [status]="getStatus('documento')"
                [ngClass]="{'is-valid': (documento.valid && submited) , 'is-invalid' : (documento.invalid && submited)  }"
              >

            </nb-form-field>

            <div class="valid-feedback" >
              Válido
            </div>

            <div class="invalid-feedback" >
              Inválido
            </div>

          </div>
        </div>

        <div [ngClass]="{'col-md-3 col-12': isPessoaFisica, 'col-md-6 col-12': !isPessoaFisica}">
          <div class="form-group">
            <label class="label">  {{isPessoaFisica? 'Data de Nascimento':'Abertura'}} : </label>
            <input
              nbInput
              fullWidth
              type="text"
              [mask]="'00/00/0000'"
              class="form-control"
              [placeholder]='isPessoaFisica ? "Data de Nascimento" : "Abertura"'
              [formControl]="dataNascimento"
              [status]="getStatus('dataNascimento')"
              [ngClass]="{'is-valid': (dataNascimento.valid && submited) , 'is-invalid' : (dataNascimento.invalid && submited)  }"
            >

            <div class="valid-feedback" >
              Válido
            </div>

            <div class="invalid-feedback" >
              Inválido
            </div>

          </div>
        </div>

        <div [ngClass]="{'col-md-3 col-12': isPessoaFisica, 'col-md-6 col-12': !isPessoaFisica}">
          <div class="form-group">
            <label class="label">Número de Telefone: </label>
            <input
              nbInput
              fullWidth
              type="text"
              [mask]="'(00) 0 0000-0000'"
              class="form-control"
              placeholder="Telefone"
              [formControl]="telefone"
              [status]="getStatus('telefone')"
              [ngClass]="{'is-valid': (telefone.valid && submited) , 'is-invalid' : (telefone.invalid && submited)  }"
            >

            <div class="valid-feedback" >
              Válido
            </div>

            <div class="invalid-feedback" >
              Inválido
            </div>

          </div>
        </div>

        <div class="col-md-3 col-12" *ngIf="isPessoaFisica">
          <div class="form-group">
            <label class="label">Sócio Número: </label>
            <input
              nbInput
              fullWidth
              type="text"
              [mask]="'0*'"
              class="form-control"
              placeholder="Sócio Número:"
              [formControl]="socio"
              [status]="getStatus('socio')"
              [ngClass]="{'is-valid': (socio.valid && submited) , 'is-invalid' : (socio.invalid && submited)  }"
            >

            <div class="valid-feedback" >
              Válido
            </div>

            <div class="invalid-feedback" >
              Inválido
            </div>

          </div>
        </div>

        <div class="col-md-3 col-12" *ngIf="isPessoaFisica">
          <div class="form-group">
            <label class="label">Sócio Letra: </label>
            <input
              nbInput
              fullWidth
              type="text"
              [mask]="'S*'"
              class="form-control"
              placeholder="Sócio Letra:"
              [formControl]="letra"
              [status]="getStatus('letra')"
              [ngClass]="{'is-valid': (letra.valid && submited) , 'is-invalid' : (letra.invalid && submited)  }"
              >
          </div>
        </div>

      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="row">

        <div class="col-md-2 col-6">
          <button nbButton outline fullWidth status="basic" type="reset" (click)="voltar()">voltar</button>
        </div>

        <div class="col-md-2 offset-md-8 col-6">
          <button nbButton outline fullWidth status="success" type="submit">Salvar</button>
        </div>

      </div>
    </nb-card-footer>

  </nb-card>

</form>

