<nb-card status="success">

  <nb-card-header>
    Receber Boleto
  </nb-card-header>

  <nb-card-body>

    <div class="row">

      <div class="col-md-4 col-sm-6 col-12" >
        <div class="table-responsive">
          <table class="table table-sm table-borderless">

            <thead class="text-center border">
              <tr>
                <th>
                  Responsável
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  Alexandre Bezerra de Queiroz
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-12" >
        <div class="table-responsive">
          <table class="table table-sm table-borderless">

            <thead class="text-center border">
              <tr>
                <th>
                  Cliente
                </th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>
                  Alexandre Bezerra de Queiroz
                </td>
              </tr>

              <tr>
                <td>
                  2020.001.0000012
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-12" >
        <div class="table-responsive">
          <table class="table table-sm table-borderless">

            <thead class="text-center border">
              <tr>
                <th>
                  Valor
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  R$ 54,50
                </td>
              </tr>
            </tbody>


          </table>
        </div>
      </div>


    </div>


  </nb-card-body>

</nb-card>
