<nb-card status="info">

  <nb-card-header>
    Movimentacões
  </nb-card-header>

  <nb-card-body>
    <table class="table table-sm table-striped">

      <thead >
        <tr>
          <th scope="col" class="align-middle font-weight-bold"> Motivo: </th>
          <th scope="col" class="align-middle font-weight-bold"> Valor: </th>
          <th scope="col" class="align-middle font-weight-bold"> Responsável: </th>
          <th scope="col" class="align-middle font-weight-bold"> Criação: </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let pagamento of pagamentos">
          <td class="align-middle"> {{pagamento.motivo}} </td>
          <td class="align-middle"> {{pagamento.valor}}</td>
          <td class="align-middle"> {{pagamento.responsavel.name}}</td>
          <td class="align-middle"> {{pagamento.criacao}}</td>
        </tr>

      </tbody>

      <tfoot>
        <tr>
          <th scope="col" colspan="4"> </th>
        </tr>
      </tfoot>

    </table>
  </nb-card-body>


  <nb-card-footer>
    <div class="row">

      <div class="col-md-3 col-6 ">
      </div>

      <div class="offset-md-6 col-md-3 col-6">
      </div>

    </div>
  </nb-card-footer>

</nb-card>
