<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate *ngIf="form">

  <nb-card status="warning" >

    <nb-card-header>
      Logradouro
    </nb-card-header>

    <nb-card-body>
      <div class="row">

        <div class="col-md-4 col-12">
          <div class="form-group">
           <label class="label">Tipo Logradouro</label>
           <nb-select
              fullWidth
              placeholder="Selecionar"
              [status]="getStatus('tipoLogradouro')"
              [(selected)]= "data.tipoLogradouro.nome"
              >

              <nb-option
                *ngFor="let tipo of tipos"
                [value]=tipo.nome >{{tipo.nome}}
              </nb-option>

            </nb-select>

          </div>
        </div>

        <div class="col-md-8 col-12">
          <div class="form-group">

            <label class="label">Nome</label>
            <input
              nbInput
              fullWidth
              type="text"
              status="basic"
              placeholder="Nome"
              [status]="getStatus('nome')"
              [formControl]="nome"
              >

          </div>
        </div>

      </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="row">

        <div class="col-md-2 col-6">
          <button nbButton outline fullWidth status="basic" type="reset" (click)="voltar()">voltar</button>
        </div>

        <div class="col-md-2 offset-md-8 col-6">
          <button nbButton outline fullWidth status="warning" type="submit">Editar</button>
        </div>

      </div>
    </nb-card-footer>

  </nb-card>

</form>
