<ngx-table [loading]=loading [title]="'Grupo'" [table]=table [filtro]=filtro (buscar)=load()>
  <table class="table table-sm table-striped">

    <thead >
      <tr>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("categoria")'>
          Categoria:

          <ng-container *ngIf="filtro.categoria.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.categoria.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.categoria.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("nome")'>
          Nome:

          <ng-container *ngIf="filtro.nome.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.nome.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.nome.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("valor")'>
          Valor:

          <ng-container *ngIf="filtro.valor.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.valor.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.valor.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("valorSocio")'>
          Valor Categoria:

          <ng-container *ngIf="filtro.valorSocio.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.valorSocio.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.valorSocio.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" style="width: 8%;" colspan="2">
          <button nbButton outline fullWidth status="success" (click)=adicionar()>
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>

    <thead >
      <tr>
        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.categoria.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.nome.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.valor.valor
            mask="separator.2"
            thousandSeparator="."
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.valorSocio.valor
            mask="separator.2"
            thousandSeparator="."
            >
        </th>

        <th colspan="2">
          <button nbButton outline fullWidth status="info" (click)="load()">
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>

    <tbody *ngIf="table && !table?.empty">

      <tr *ngFor="let data of table.content; index as i;">
        <td class="align-middle" >{{data?.categoria?.nome}}</td>
        <td class="align-middle" >{{data?.nome}}</td>
        <td class="align-middle" >{{data?.valor | currency:'BRL':'symbol'}}</td>
        <td class="align-middle" >{{data?.valorSocio | currency:'BRL':'symbol'}}</td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="warning" (click)=editar(data)>
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </td>

        <td class="align-middle" >
          <button nbButton outline fullWidth status="danger" (click)=deletar(data)>
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>

      </tr>

    </tbody>

    <tbody *ngIf="table?.empty">

      <tr>
        <td class="align-middle" colspan="4" >
          Nenhum registro encontrado
        </td>
      </tr>

    </tbody>

    <tfoot>
      <tr>
        <th scope="col" colspan="6"> </th>
      </tr>
    </tfoot>

  </table>
</ngx-table>

