<ngx-table [loading]=loading [title]="'Grupo'" [table]=table [filtro]=filtro (buscar)=load()>
  <table class="table table-sm table-striped">

    <thead >
      <tr>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("referencia")'>
          Refêrencia:

          <ng-container *ngIf="filtro.referencia.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.referencia.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.referencia.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("parametro")'>
          Parâmetro:

          <ng-container *ngIf="filtro.parametro.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.parametro.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.parametro.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("exigido")'>
          Exigido:

          <ng-container *ngIf="filtro.exigido.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.exigido.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.exigido.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("analisado")'>
          Análisado:

          <ng-container *ngIf="filtro.analisado.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.analisado.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.analisado.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" class="align-middle font-weight-bold" (click)='order("conforme")'>
          Conforme:

          <ng-container *ngIf="filtro.conforme.asc !== null">
            <nb-icon icon="arrow-downward-outline" *ngIf="filtro.conforme.asc"></nb-icon>
            <nb-icon icon="arrow-upward-outline"   *ngIf="!filtro.conforme.asc"></nb-icon>
          </ng-container>
        </th>

        <th scope="col" style="width: 8%;" colspan="2">
          <button nbButton outline fullWidth status="success" (click)=adicionar()>
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </th>
      </tr>
    </thead>


    <thead >
      <tr>
        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            [mask]="'00/0000'"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.referencia.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.parametro.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            [mask]="'0*'"
            type="text"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.exigido.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            [mask]="'0*'"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.analisado.valor
            >
        </th>

        <th>
          <input
            nbInput
            fullWidth
            type="text"
            [mask]="'0*'"
            class="form-control"
            (keydown.enter)="load()"
            [(ngModel)]=filtro.conforme.valor
            >
        </th>

        <th colspan="2">
          <button nbButton outline fullWidth status="info" (click)="load()">
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </th>

      </tr>
    </thead>




    <tbody *ngIf="table && !table?.empty">

      <ng-container *ngFor="let data of table.content">

        <tr *ngFor="let coleta of data.coletas;  index as i;">

          <ng-container *ngIf="i === 0" >
            <td class="align-middle" [attr.rowspan]="data.coletas.length">
              {{data.referencia | referenciaPipe}}
            </td>
          </ng-container>

          <td class="align-middle"> {{coleta.parametro}} </td>
          <td class="align-middle"> {{coleta.exigido}} </td>
          <td class="align-middle"> {{coleta.analisado}} </td>
          <td class="align-middle"> {{coleta.conforme}} </td>

          <ng-container *ngIf="i === 0" >
            <td class="align-middle" [attr.rowspan]="data.coletas.length">
              <button nbButton outline fullWidth status="warning" (click)=editar(data)>
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
            </td>

            <td class="align-middle" [attr.rowspan]="data.coletas.length" >
              <button nbButton outline fullWidth status="danger" (click)=deletar(data)>
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </td>

          </ng-container>
        </tr>


      </ng-container>
    </tbody>


    <tbody *ngIf="table?.empty">

      <tr>
        <td class="align-middle" colspan="7" >
          Nenhum registro encontrado
        </td>
      </tr>

    </tbody>


    <tfoot>
      <tr>
        <th scope="col" colspan="7"> </th>
      </tr>
    </tfoot>

  </table>
</ngx-table>
