<nb-card>
  <nb-card-body>

    <div class="row">

      <div class="col-12">
        <div class="form-group">

          <label class="label">Número</label>
          <input
            nbInput
            disabled
            fullWidth
            type="text"
            [(ngModel)]="data.numero"
            >

        </div>
      </div>

      <div class="col-12">
        <div class="form-group">

          <label class="label">Endereço de usufruto</label>
          <input
            nbInput
            disabled
            fullWidth
            type="text"
            [(ngModel)]="data.numero"
            >

          </div>
      </div>

      <div class="col-12">
        <div class="form-group">

          <label class="label">Endereço de correspondencia</label>
          <input
            nbInput
            disabled
            fullWidth
            type="text"
            [(ngModel)]="data.numero"
            >

          </div>
      </div>

      <div class="col-12">
        <div class="form-group">

          <label class="label">Sócio</label>
          <input
            nbInput
            disabled
            fullWidth
            type="text"
            [(ngModel)]="data.numero"
            >

          </div>
      </div>

      <div class="col-6">
        <div class="form-group">

          <label class="label">Categoria/Grupo</label>
          <input
            nbInput
            disabled
            fullWidth
            type="text"
            [(ngModel)]="data.numero"
            >

          </div>
      </div>

      <div class="col-6">
        <div class="form-group">

          <label class="label">Hidrômetro</label>
          <input
            nbInput
            disabled
            fullWidth
            type="text"
            [(ngModel)]="data.numero"
            >

          </div>
      </div>


    </div>

    <nb-card-body>
      <div class="row">

        <div class="col-3">
          <div class="form-group">

            <label class="label">Valor</label>
            <input
              nbInput
              disabled
              fullWidth
              type="text"
              [(ngModel)]="data.numero"
              >

          </div>
        </div>

      </div>
    </nb-card-body>

  </nb-card-body>
</nb-card>
