<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

  <nb-card status="success" [nbSpinner]="loading">

    <nb-card-header>
      Contrato
    </nb-card-header>

    <nb-card-body>
      <div class="row">

        <div class="col-12">
          <div class="form-group">
            <ngx-selecionar-cliente
              [submited]="submited"
              (setData)=(selecionarCliente($event))>
            </ngx-selecionar-cliente>
          </div>
        </div>

        <div class="col-12 col-md-5">
          <div class="form-group">
            <ngx-selecionar-matricula
              [title]="'Matrícula'"
              [submited]="submited"
              (setData)=(selecionarMatricula($event))>
            </ngx-selecionar-matricula>
          </div>
        </div>

        <div class="col-12 col-md-5">
          <div class="form-group">
            <ngx-selecionar-matricula
              [title]="'Matrícula de correspondência'"
              [submited]="submited"
              (setData)=(selecionarMatriculaCorrespondencia($event))>
            </ngx-selecionar-matricula>
          </div>
        </div>

        <div class="col-md-2 col-12">
          <label class="label">Contrato</label>
          <div class="form-group">

              <nb-checkbox
                class="align-center"
                [status]="getStatus('contratoPrincipal')"
                [formControl]="contratoPrincipal">
                Contrato Principal
              </nb-checkbox>

            </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <ngx-selecionar-grupo
              [submited]="submited"
              (setData)=(selecionarGrupo($event))>
            </ngx-selecionar-grupo>
          </div>
        </div>

        <div class="col-md-3 col-12">
          <label class="label">Valor</label>
          <div class="form-group">
            <input
              nbInput
              fullWidth
              type="text"
              prefix="R$ "
              mask="separator.2"
              thousandSeparator="."
              decimalMarker=","
              [status]="getStatus('valor')"
              [formControl]="valor"
              >
          </div>
        </div>

        <div class="col-md-3 col-12">
          <label class="label">Valor Sócio</label>
          <div class="form-group">
            <input
              nbInput
              fullWidth
              type="text"
              prefix="R$ "
              mask="separator.2"
              thousandSeparator="."
              decimalMarker=","
              [status]="getStatus('valorSocio')"
              [formControl]="valorSocio"
              >
          </div>
        </div>

      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="row">

        <div class="col-md-2 col-6">
          <button nbButton outline fullWidth status="basic" type="reset" (click)="voltar()">voltar</button>
        </div>

        <div class="col-md-2 offset-md-8 col-6">
          <button nbButton outline fullWidth status="success" type="submit">Salvar</button>
        </div>

      </div>
    </nb-card-footer>

  </nb-card>

</form>
