
<nb-card status="success">

  <nb-card-header>
    Gerar Boletos
  </nb-card-header>

  <nb-card-body>
    <label class="label">Refêrencia </label>

    <div class="col-12">
      <div class="row">
        <table class="table table-sm table-striped">

          <thead>
            <tr>
              <th scope="col" class="align-middle font-weight-bold"> Nome: </th>
              <th scope="col" class="align-middle font-weight-bold"> Documento: </th>
              <th scope="col" class="align-middle font-weight-bold"> Logradouro: </th>
              <th scope="col" class="align-middle font-weight-bold"> Número: </th>
              <th scope="col" class="align-middle font-weight-bold"> Letra: </th>
              <th scope="col" class="align-middle font-weight-bold"> Valor: </th>
              <th scope="col" class="align-middle font-weight-bold">
                <nb-checkbox [(ngModel)]=selectAll (click)=selecionarTodos() class="align-center">
                </nb-checkbox>
              </th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let c of contratos">
              <td class="align-middle">
                {{c.contrato.cliente.nome}}
              </td>

              <td class="align-middle">
                {{c.contrato.cliente.documento | documento}}
              </td>

              <td class="align-middle">
                {{c.contrato.matricula | logradouro}}
              </td>

              <td class="align-middle">
                {{c.contrato.matricula.numero}}
              </td>

              <td class="align-middle">
                {{c.contrato.matricula.letra}}
              </td>

              <td class="align-middle">
                {{c.contrato.valor  |  currency:'BRL':'symbol'}}
              </td>

              <td class="align-middle">
                  <nb-checkbox [(ngModel)]=c.check class="align-center">
                  </nb-checkbox>
                </td>

            </tr>

            <tr *ngIf="!contratos?.length">
              <td class="align-middle" colspan="3" >
                Nenhum registro encontrado
              </td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>

  </nb-card-body>

  <nb-card-footer>
    <div class="row">

      <div class="offset-md-9 col-md-3 col-12">
        <button nbButton outline fullWidth status="basic"  >Gerar</button>
      </div>

    </div>
  </nb-card-footer>

</nb-card>

<!--


<nb-card status="success" [nbSpinner]="loading" >



</nb-card>
-->
